%h1 Signing up for Google Play

:markdown

  First we need to sign up for Google Play. This is Google's own application marketplace. You're free to sell through any channel of course, but the Play store is a great way to reach lots of customers.

  ## Credit Card

  If you want to do this part, you are going to need to get your credit or debit card out.

  ## Allowed Countries

  A word of warning, you can release your app wherever you are, but you can only charge for your app from certain countries.


%figure
  %figcaption
    %p 1. Sign up for an account at the Google Play store:
    :markdown
      <https://play.google.com/apps/publish>

%figure
  %figcaption
    %p 2. Accept the agreement. There's nothing too seriously wrong in it.


%figure
  %figcaption
    %p 3. Get your credit card out. It's $25. If your card doesn't go through first time there will be a delay...


%figure
  %figcaption
    %p 4. Your application will be pending. Expect to see this screen for at least a couple of hours.


%figure
  %figcaption
    %p 5. Eventually your application will be approved. Don't wait up...

:markdown

  While we wait for you to be approved, let's get to work.