%h1 Imagine the scene...

:markdown

  ...you're running through the jungle being strafed by a Nazi Messerschmitt. It's about to get you when suddenly an enormous Tyrannosaurus Rex Leaps out of the trees and takes the plane **RIGHT OUT OF THE AIR**.

  As the enormous dinosaur rips the plane apart and eats the pilot, you notice THREE MORE Tyrannosaurs coming at you in a PACK.

  ## But Wait!

  Luckily, you know precisely where you left a handy instruction manual which tells you exactly what to do in the case of dinosaur attack.

  ## Oh No

  Unfortunately, it's posted on the internet, and you've stored it in XML format of all things...

  ## Lets get to work!

  In order not to get eaten alive, we're going to need to learn:

  * Networking - access the internet right from your PHONE
  * XML Parsing - Use the mighty power of SAX. It's BETTER THAN SAX.
  * List Views - Output you data to a List, this is the future, people!

  ## It's not all fun and games...

  Here we're pulling a dino survival handbook, but we could equally well be pulling an RSS news feed, interacting with an API, or sending and receiving data to and from our own server. It's the same principle.