%h1 JSON

JSON is JavaScript Object notation. Although it has its roots in JavaScript, it is now commonly used to interact with web APIs because of its short, yet human readable syntax. It is now used over and above XML in most cases.

## Some JSON APIs

* Twitter
* Google
* Facebook

etc...

There are a variety of libraries that let us parse JSON. In this section we're going to look at one called google-gson.

Twitter feed:

<http://search.twitter.com/search.json?q=superluminary>


%h1 How to install Gson in Eclipse

:markdown

  First you'll need to download google-gson. Go here:

  <http://code.google.com/p/google-gson/>

  click the tiny download link on the left, and grab the zip file.

  ## Drag it in

  Now we add it to the project.

  1. Extract the Zip file. It contains several jar files.
  2. Now, in your project, create a new directory. Call it lib.
  3. Drag the extracted folder into lib.

  ## Add it to your project

  Now we must add the jars to our build path

  1. Select the jar files you just dragged into your lib directory.
  2. Right click and choose Build Path > Add to Build Path"

  Your jar files will now appear under the Referenced Libraries list in your project folder.

