%h1 We now have a fully working project. Let's test it!

:markdown

  1. Open up the Android app that we downloaded earlier. If it's not open, Eclipse won't be able to start a simulator.
  2. Click the green "play" icon in the eclipse toolbar.
  3. If all has gone to plan, Eclipse will ask you how you would like to run your project. Choose Android project.
  4. A simulator will now start, if it isn't already running. You may need to unlock the screen.
  5. Your project should open.