%h1 Deploy your App to an Actual Phone or Tablet!

:markdown
  Running in a simulator is all well and good, but it won't get us far in the field. Let's deploy to a device so that we can carry our app with us on our trials.

  This is very easy to do.

  ## Windows Users

  If you're running Windows, install the driver from here. OSX users will not need to do this.

  <http://developer.android.com/sdk/win-usb.html>

  ## OK Lets deploy


  1. On your Android device, go to settings > Applications > Development > USB Debugging. We can now deploy to the device.
  1. Plug in your device with a USB cable.
  2. Click the Play button in Eclipse.
  3. If you're running a simulator you'll be asked if you want to deploy to the device or the simulator. Choose the device (duh)
  4. That's it, you're good to go!
