%h1 Behold The Manifest

:markdown
  We should also know about the Manifest. The Manifest is the heart of our application. It's an XML file that defines everything in our application. Every Activity, Service, Content Provider and Broadcast Receiver must be defined in the manifest.

  You can also set up parameters for your app here, the name, default orientation, and whether it can be invoked by other apps.

  ## A Hub of Creation

  We can also use the manifest as a sort of a hub to create application components, just by clicking. We'll see more on this later.