%h1 Crafting a Key

:markdown

  Your key is your Play Store application developer soul. In this exercise, we're going to craft one, and use it to create a signed application.

  This is actually really easy to do.

  1. Go to file export
  2. Choose Export Android Application
  3. Choose a project
  4. Create a new keystore.
  5. Browse for a location in which to save your keystore. I have a folder called code in which I store all this sort of stuff.
  6. Enter a good strong password.
  7. Fill in the form. Eclipse will wine at you until the form is filled in properly. You don't need to fill in every field, but fill in as many as you can. Validity refers to the number of years the certificate will be valid for. 100 years should be sufficient.
  8. Now choose where to save your signed Android Package (APK).

  You now have an APK file that you can upload to the store.

