%h1 Uploading to Play

:markdown

  Right, you have your APK, you have your assets. Now you just need to upload to Google Play. Go to:

  <https://play.google.com/apps/publish>

  Log in if necessary, and click upload your app. Upload the APK, the assets and a product description and you're done.

  Prizes for the person who gets the most downloads.