%h1 So why learn Android?

:markdown
  Well there are three reasons:

  1. Time
  2. Money
  3. Satisfaction

  ##Time

  I'm a freelance developer. I get to work in my own time and in my own space. Sometimes I work at home. Sometimes I work in my office. Sometimes I work in a Cafe and drink Latte's all day. I get to drop my son off at school in the morning, and tuck the kids in to bed at night.

  ##Money

  Mobile developers are in demand, and Android is the most popular mobile platform out there. Get good at this and you can charge real money for your skills.

  You can build things for other people at a day rate, or build your own product.

  If you'd rather work for a company, mobile development is an in-demand skill. You can expect anything between 35-90,000 pounds a year from a job in this sector, depending on how good you get.

  ##Satisfaction

  I don't know about you but I love playing with new toys. Building for Android let you muck around with devices to your heart's content. It's massively creative, you can spend your time building things that people will hopefully love.