%h1 Welcome Brave Adventurer

:markdown
   Hello and welcome to Android for Adventurers. In this exciting course we'll will be raiding jungle temples, uncovering ancient secrets, battling Nazis, escaping from Dinosaurs and building some Android apps to help us along the way.

