%h1 In this section we get attacked by Nazis!

:markdown

  You're in a tight spot, stuck on an island with no boat, and angry Nazis closing in on all sides. Luckily there is a sea plane circling overhead looking for you. What you need is some way of letting it know where you are. What you need is a signal light.

  In this exercise we're going to make a signal light. On the way, we'll learn about lifecycles, threads, sensors, canvas, listeners, etc.

  ## What is this exercise for?

  This isn't just fun and games. We're going to be covering some important topics here including:

  * The Activity Lifecycle
  * Inheritance and Interfaces
  * Threads
  * Event Listeners
  * Device Sensors
