%h1 Dino Survival Exercise

:markdown

  Right, we should know enough now to save ourselves from the Tyrannosaurs making their way towards us. Now it's time to put the plan into action.

  You'll find the dino survival handbook here:

  <http://www.androidadventurers.com/xml/dino-handbook.xml>

  Write an app which pulls it from the internet, parses it out, and renders it nicely in a text area. We'll look later at how to improve our output.