%h1 Putting it to good use

:markdown

  Escaping dionsaurs may be fun, but all this has a serious purpose. You can find XML feeds all over the internet. They're used for APIs, and for RSS.

  In this section, we're going to wite an app which can display an RSS feed. You can use any feed you like. Here's the BBC top stories news feed:

  <http://feeds.bbci.co.uk/news/rss.xml>

  Write SAX to parse out the stories, and display them nicely in a text view.