%h1 Inheritance and Interfaces

:markdown

  Java is an object oriented language featuring single object inheritance (each class can inherit from one other class). When a class inherits from another class, it becomes a type of that class. It inherits all of it's methods and can be used as though it were an instance of that class.

  For example, we've been writing activities that inherit from the Activity class. They can be used as Activity objects, even though they are subclasses.

  ## Strongly Typed

  Java is strongly typed, so an object has to declare in advance what type of object it is. If you want a object of a particular class to act as more than one type of thing, you have a problem.

  ## Interfaces

  Luckily we have interfaces. A Java class can implement as many interfaces as it likes. This means that it promises to implement all the methods listed in the interface.