%h1 Runnable

:markdown
  A class which implements Runnable can act as a Thread. A Thread is a background task that runs off on its own doing some work. It'll run until we stop it.

  Runnable requires that we implement one method - run(). Within run we execute a while loop. We should allow run to come to an end, so we have a flag, running, that can set to false to end the thread naturally.