%h1 Listen up!

:markdown

  A listener is an object which responds to a callback. Different listeners respond to different types of callback. A listener can listen out for a UI event, like a button press, a system event, like a sensor updating, or any other type of event.

  Listeners generally implement an interface which defines a method they must respond to. We register them as a listener for a particular event, and that method gets called when the event occurs.