
%h1 Preparing your app for publication

:markdown

  Excellent. You've made something! There's plenty more you can do, but for now lets just get it up there. Once you have something in the store, you'll have more motivation to gold plate it.

  There's a lot more to do, but let's just get your application out there.

  You'll need to do a few things first:

  1. Make an icon. Look in your drawable folders. See the ic-launcher.png there? Modify that.
  2. Make sure your package name doesn't suck. You won't be able to change this later, so get it right now. It should be a reversed domain, followed by the name of your app, e.g. com.mydomain.MyAppName. This will make it unique.
  3. Take out all of your debugging code. All unnecessary logging, etc.
  4. Take a screenshot. The easiest way to do this is with the emulator. You can take as many as you like, but one will do for now.

  Check all of these tasks off, then we'll sign our app and bundle it for release.