
%h1 Do Not Lose Your Key

:markdown

  If you lose your key you will not be able to update your applications. If someone else gets your key, they will be able to update your application for you. Yes, with viruses and porn spam.

  Do not lose your key.

  ## Help, I lost my key. What should I do?

  Luckily your key will be password protected. You did choose a good password right? Apart from that, there's nothing you can do. You cannot update your app, and you cannot upload a new app with the same name.

  Do not lose your key.

  ## Can't I just email Google?

  No. Google does not have your key. You're the only one with a copy. Don't lose it!