%h1 Lets try some SAX

:markdown
  Sax is kind of long winded, but actually rather fun once you get into it. Download the SAX example from here:

  <http://www.androidadventurers.com/downloads/SaxExample.zip>

  Get it running nicely on a simulator and have a look inside. You'll find three classes, an activity, a parser and an adventurer class. When the activity starts, the parser will parse the XML and create an ArrayList of Adventurers.