%h1 Sax Exercise

:markdown

  The output of the last app only went as far as the debugger. Modify the code so that it outputs their names to a text area.

  You'll need to look at the ArrayList API.

  <http://docs.oracle.com/javase/6/docs/api/java/util/ArrayList.html>