%h1 XML vs Java Interfaces

:markdown

  There are two ways to set up an Android User Interface.

  1. By writing Java Code
  2. By writing XML which is similar to HTML

  The best practice method is to use XML for all static elements, since it's much quicker and simpler to write, then switch to Java for non static elements.

  ## XML Interfaces...

  * ...can be created using code or a graphical editor.
  * ...are written in XML, similar to HTML.
  * ...can be specified for different sizes and resolutions.
  * ...can be made using Eclipse's awesome graphical editor.

%img{ :src => "/img/part_1/how_to_make_an_interface.png", :alt => "Use XML all you can. Use Java when things get dynamic." }