%h1 Look, a graphical UI editor!

:markdown

  1. Layouts are defined in the resources folder. You should have a file called res/layout/main.xml. This was created for you when you checked "create activity" in the last section.
  2. Note the tabs that let you swap between Graphical and Code views.
  3. Switch to graphical mode.
  4. Note the outline view that gives you a nested tree view of your UI.
  5. Note also the properties view that lets you see all the properties of layout elements.

  That's all for now, move on to the next exercise and we'll actually make something go.