%h1 Linear Layouts

:markdown

  Linear layouts are the simplest type of layout. They're also one of the most useful.

  ##All About Linear Layouts

  * A linear layout stacks its components one on top of the other.
  * Linear layouts can be horizontal (elements side by side) as well as vertical.
  * You can nest linear layouts inside each other to create more complex layouts.
  * Use gravity to make elements move to the left or right.
  * Use weight to make elements take up more or less space.
  * Use layout width and layout height to make elements take up as little, or as much space as possible.
  * layout width and height can be either match_parent, in which case they become large, or wrap_content, in which case they become small
  * wrap_content is roughly equivalent to display:inline in CSS. match_parent is roughly equivalent to display:block.
