%h1 Audio Resources

:markdown

  Audio Resources live in the res/raw folder. **Raw Power!** (or raw data).

  Like all resources you can pull them out using the R class. Many formats are supported, but mp3 or ogg are popular choices. Android provides us with a selection of audio APIs for our listening pleasure.