%h1 Network

Permissions

You'll need the following permissions to access the internet and get information about the network state:

:ruby
  code = <<-CODE
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  CODE

=format_code(code)

