%h2 Network Example

:markdown

  Download the network example from here:

  <http://www.androidadventurers.com/downloads/NetworkExample.zip>

  Get it installed into Eclipse and have a play.

  ## Build Target

  For reasons which we'll go into in a bit, you'll need to specify a build target no higher than 8. Higher build versions will throw an error.