%h1 Well done!

:markdown
  If you've followed all of these steps you now have an application in the market, busily making money for you. Now it's time to get busy with the gold plating...

  ## Add a clickthrough page

  In my son's favourite game, you click a picture on an animal, and get a big picture plus a sound. There are different pictures so if you press the same button more than once, you get a different picture each time. He loves this.

  Add in another activity that shows a suitable image or piece of text when the user clicks a button.

  The simple way to do this is to create a different activity for each sound.

  The better way to do this is to create a single activity, then when you invoke it with an intent, pass a message in the intent to tell it which image to render. We covered message passing intents on day one.