%h1 How this exercise will work

:markdown

  This will be our first real app. First of all I'm going to show you some code. I'm going to show you a whole app, running, and we'll break it down. Then I'm going to give you a set of jobs to do. You'll use the code that we looked at, break it down, and use it to make new code.

  You can download the signal sticks code here:

  <http://www.androidadventurers.com/downloads/SignalSticks.zip>

  Install the signal sticks code into your device. Get it running nicely. Have a little play.

  1. Change the colour of the flash.
  2. Make the colour change depending on the direction of the movement.