%h1 Navigating with Intent

:markdown
  Every decent explorer should be able to navigate. In Android, we navigate by moving from one activity to the next. Each activity has it's own UI.

  We tell Android to move to another activity by issuing intents. Intents allow activities to be coupled together at runtime. We can couple together activities within an app, or we can connect to activities for a different app.

/TODO Move Messager intent message passing app to this section