%h1 Welcome Brave Adventurer to Day 3!

:markdown

  Today we will learn a bunch of very important things including:

  * Resources
  * Real UI
  * Responding to screen size and orientation

  Plus one very important last thing

  ## Making money!

  Yes, if you follow the program, and you completed day 1 and 2, by then end of today, my goal for you is that you will have a complete app  written, tested, and in the Android Play store, earning you money!

  Probably not a whole lot of money admittedly, but we'll validate the principle and you're going to start seeing some return on your investment.