%h1 Lets make a Soundboard (ahem fartboard?)

:markdown

  OK adventurers, you've done very well. Now it's time to put your skills into practice and build an app of your own that we can actually deploy into the app store and make some real money from.

  I'm not guaranteeing a fortune because this app probably isn't going to be very good, but you'll very likely make a few dollars.

%h2 What we'll build

:markdown

  We're going to build a soundboard app, similar to the one that both teams made in the 2011 UK series of the Apprentice. They're quick to make, and sometimes do rather well.

  ### Baby Toys

  Baby Toys is a soundboard app aimed at toddlers. It's had over 100,000 downloads according to the Play store. It probably took around 1 week to make.

  https://play.google.com/store/apps/details?id=com.idle.babytoy

  ### FartDroid

  FartDroid is another comedy soundboard app (rated low maturity). It's had over 1,000,000 downloads from the play store. Again, very quick to make, you just need a bunch of fart sounds, which you can capture yourself using a microphone and a... well lets not get into that.

  It has adverts, and probably continues to rake in a tidy little sum for it's creator.

  I'm going to let you choose your own theme. When we're done we'll have something which we might even want to release on the Play store.

  ### Animals

  My son's favourite app for a long time had pictures of animals. You tapped them and it showed a larger picture (different each time) and made the sound of the animal.

%h2 What we'll learn

:markdown
  It's not all fun and games. To make out soundboard we're going to need to

  1. Provide a different UI for the horizontal and vertical layout.
  2. Add image resources
  3. Add click handlers
  4. Optionally spark off intents to show new screens.
  5. Pass Messages to a new UI.
  3. Prep the application for release.
