%h1 Asynctask Task

:markdown

  Grab the AsyncNetworkExample from the website.

  <http://www.androidadventurers.com/downloads/AsyncNetworkExample.zip>

  Load it into Eclipse and get it all running nicely.

  ## Exercise

  Modify your code from this morning so that it uses an AsyncTask to download the XML file. Nice.