/ TODO Say something about internationalisation

%h1 Strings as Resources

:markdown
  You might not usually thing of Strings as resources, but Android treats them this way. There are two reasons for this.

  1. Locales
  2. Multiple layout files

  Up till now, we've just been bunging Strings into our interfaces willy nilly. This is fine up to a point, but if we have several layouts, all containing the same text, it's not going to be much fun if we have to change the text on all of them every time we change our mind about a button.