%h1 Relative Layouts are Cool

:markdown

  We've seen Linear Layouts. The other important layout strategy is the Relative layout. In a relative layout, we tell elements to draw themselves relative to other view objects.

  We can do this using the properties, or we can simply drag the sides of the object that we want to attach to each other.

  Relative layouts are particularly cool because they tend to work rather well, regardless of screen size.

  ## Drawbacks

  The main drawback of a relative layout is there's no way to set weights, so elements that match_parent become full width and will overlay other elements on the same page.

  ## Exercise

  Try to create this useful "button after a field" interface using a relative layout.

%img{ :src => "/img/part_3/relative_layouts/test1.png" }

:markdown

  Now try for this handy "full height text editor with a submit button" example.

%img{ :src => "/img/part_3/relative_layouts/test2.png" }