%article.container
  %h1 Android for Adventurers!

  %figure
    %img.respond{ :src => "/assets/splash/aircraft.jpg", :alt => "Up Up and Away!" }

  %p.join
    %a.button.large{ :href => signup_path } Learn Android!