%h1 List Views

:markdown

  List views give us a nice way to display data in a list. We create a view, then tell it to use an adapter which implements getView.

  This method is called over and over, populating the view with data.

  For more on list views:

  <http://www.mkyong.com/android/android-listview-example/>

  ## Exercise

  Use a list view to generate nice output from your dino rescue app.