%h1 Welcome to Part 4!

:markdown
  In this exciting chapter we are going to look at making out app work, even when we're not using it. On the way, we'll also take in Storage, GeoLocation, and finally Widgets.

