%h1 Inspecting the Sensors

/ TODO: Big problem with threads not being able to access the main UI thread. I have a sensor demo in Eclipse, use this first instead, then ramp up to signal sticks. Gah, do this or you will cry. You will be very sad next lesson. You do not want to be getting into ASync Task yet. I am sad right now. I'm sitting holding my head in my hands. Don't let this happen again.

:markdown
  In this exercise, we're going to check out the sensors that are available to us.

  1. Modify you UI so instead of a SurfaceView it contains a TextView.
  2. Now change your run() method so instead of updating the surface view, it sets the value in the TextView to be a value you pull from a sensor.

%h2 Now check out the following sensors:

%ol
  %li TYPE_ACCELEROMETER  A constant describing an accelerometer sensor type.
  %li TYPE_ALL  A constant describing all sensor types.
  %li TYPE_AMBIENT_TEMPERATURE  A constant describing an ambient temperature sensor type
  %li TYPE_GRAVITY  A constant describing a gravity sensor type.
  %li TYPE_GYROSCOPE  A constant describing a gyroscope sensor type
  %li TYPE_LIGHT  A constant describing an light sensor type.
  %li TYPE_LINEAR_ACCELERATION  A constant describing a linear acceleration sensor type.
  %li TYPE_MAGNETIC_FIELD   A constant describing a magnetic field sensor type.
  %li TYPE_PRESSURE   A constant describing a pressure sensor type
  %li TYPE_PROXIMITY  A constant describing an proximity sensor type.
  %li TYPE_RELATIVE_HUMIDITY  A constant describing a relative humidity sensor type.
  %li TYPE_ROTATION_VECTOR  A constant describing a rotation vector sensor type.
