%h1 A Thermometer with Canvas

:markdown
  The Signal Sticks exercise simply draws a rectangle to the screen the same size as the screen. We can do more...

  ## Check out the Canvas API

  <http://developer.android.com/reference/android/graphics/Canvas.html>

  ## Now we're going to make a thermometer

  Come up with a clever visual way to represent the temperature. I'm thinking a sort of glowing orb, but feel free to improvise. You have a thermometer sensor, so see what you come up with...