%h1 A Spirit Level

:markdown
  There are plenty of occasions when you want to make sure something is absolutely flat. Maybe you're laying shelves. Maybe you're digging a canal. Whatever you're up to, a spirit level can help.

  In this exercise you're going to make a spirit level. You'll need to use a different type of sensor, Sensor.TYPE_ACCELEROMETER. This will return tilt.

  You can use the motion class from before, but you might want to modify it a little to allow

  You'll then draw a circle in the centre of the screen. Any deviation from horizontal will deflect the circle. Try and make the UI nice and clean.