%h1 A Whiteboard

:markdown
  Lets create a really simple whiteboard on which we can leave messages to ourself. The whiteboard itself should be a text area. When the user edits the whiteboard, the text should be saved. If the user leaves the app, and comes back, the whiteboard should be as it was.