%h1 Spy Logger

:markdown

  Let's take our logger app one step further. Make your service contain a thread that wakes up once an hour and texts your current location to a contact of your choosing. Ideally, the text should contain a Google Maps link.

  If you can't remember how to send an SMS, check back to part 1.

  <http://www.androidadventurers.com/part-1/extra>