%h1 Widget Layout Constraints

:markdown

  You can't put just anything in a widget layout file, you are limited to the following widget types.

  * AnalogClock
  * Button
  * Chronometer
  * FrameLayout
  * ImageButton
  * ImageView
  * LinearLayout
  * ProgressBar
  * RelativeLayout
  * TextView
  * ViewFlipper

  ## Widget Sizes

  Widgets have to fit into a grid. We can calculate allowed widths and heights of widgets using the following formula:

  size = (number of cells * 74) – 2

/ TODO: Create some JavcaScript to calculate this.
/ TODO: Talk about widget resizing