%h1 Widget Exercise

:markdown

  Download the ExampleWidget exercise from here:

  <http://www.androidadventurers.com/downloads/WidgetTest.zip>

  Load it up and install it on your home screen.

  ## Further Exercise

  Have your widget fire up, or shutdown a music service. Handy.