%h1 Persistence Pays

There are three main ways to persist data from an Android App:

:markdown

  * Shared Preferences
  * Files
  * SQLite Databases

These are all stored in the local filesystem under the application directory. Preferences are stored as an XML file.