%h1 Filing

:markdown

  Your app has access to at least one, and possibly two file systems:

  ## Local Storage

  Local storage within the App's own application directory on the phone's memory. This is private, only your app can touch it. When your app is uninstalled, the files are destroyed.

  ## The SD Card

  The SD card. Any data stored here is public, and other apps can read it. You should use this directory to store bulky files like podcasts or downloads.

/TODO Say something about the directories which are available