%h1 Responding to Orientation

:markdown

  Lets take a look at an example. Download the layout exercise from here

  <http://www.androidadventurers.com/downloads/LayoutsExercise.zip>

  Open it up and get it running nicely in a simulator. Now lets rotate the simulator. Notice how we get a different UI at each angle.

%h1 Responding to size

:markdown

  Now create another layout which is triggered if the screen is large and landscape, and another which is large and portrait.
