%h1 First a trip to the adventure store

%p Every adventurer need equipment, and in this section we'll be shopping for ours. Luckily the Android equipment store is all free! All you'll need is a reasonably specced computer (Windows, Intel Mac, or Linux) and a relatively speedy internet connection.

/ TODO Fix Spelling Error

%img{ :src => '/img/setup/everything_free.png', :alt => "Everything is free at the Android Adventurer Store!" }