%h1 Installing the JDK

:markdown
  ##Follow Along

  First of all we need to install the Sun (now Oracle) Java Development Kit or JDK. Java is the language in which native Android apps are written. Visit the downloads page (link below) and download the right version for your platform. Note that Android is not guaranteed compatible with the IBM version of Java.

  If you're sure you already have the latest Oracle version of the JDK, you can skip this step.

  ##Here's the Link

  Install a JDK - <http://www.oracle.com/technetwork/java/javase/downloads/index.html>