%h1 The SDK

:markdown

  ##Follow Along

  Next we need to download the Android Standard Development Kit or SDK. This contains all the Java classes that let us write for android. Also a simulator, and a package manager. Visit the downloads page (link below).

  ##OSX and Linux

  If you're using a unix variant, extract the download into a folder (usually your home directory)

  ##Windows

  If you're using Windows, run the exe and let it do it's stuff.

  ##Here's the Link

  Install the SDK - <http://developer.android.com/sdk/index.html>