%h1 Download Packages.

:markdown

  The SDK we downloaded is just a skeleton. We must download some platforms and platform tools.

  The SDK includes a package manager to let us do this.

  ##Follow Along

  1. In the tools folder open up android. On Windows or OSX do this by double clicking. On Linux open it from the command line.
  2. Wait while it downloads a list of packages.
  3. Accept the defaults and download the latest version of Android.