%h1 Starting an Emulator

:markdown

  * To run an emulator, we need to define an Andoid Virtual Device.

  ## Create the Android Virtual Device (AVD)

  1. Run the tools/android app in your sdk folder.
  2. From the menu, choose tools > manage AVDs
  3. Click new
  4. In the dialog, give your virtual device a name.
  5. The target field tell it which Android platform to use. Pick the newest one.
  6. Accept the hardware defaults, and create AVD.

  ## Start the AVD

  1. In the list of AVDs, select the one you just created.
  2. Click start
  3. The emulator will start to boot up
  4. When the emulator has started, the screen will be locked so unlock it.

  You should have a fully functioning Android platform, go ahead and have a play.