%h1 Eclipse

:markdown

  Eclipse is a rather good IDE that we use to write and compile all sorts of code. You're not forced to use Eclipse but it's the platform that Google supports so you'd be wise to, at least to start with. The Classic edition contains everything you will need.

  ## Here's the link

  Install Eclipse classic - <http://www.eclipse.org/downloads/>