%h1 Configuring Eclipse

:markdown

  Now we need to set up eclipse to develop for Android. We need a plugin called ADT - Android Developer Tools.  We install this from within Eclipse itself. Once we have installed it, we must tell it where to find the SDK.

  ## Follow Along

  1. Click Help > Install New Software.
  2. Add a repository: https://dl-ssl.google.com/android/eclipse/
  3. After a moment, Eclipse should find "developer tools" This is the ADT. Check the checkbox and follow the onscreen instructions.
  4. Configure the installation. Click Window > Preferences (Eclipse > Preferences on a Mac) - then Android. Accept the defaults and follow the onscreen instructions.
  5. When it asks you if you'd like to download the SDK tell it no, then point it at the SDK directory you created previously.

  ## Has it worked?

  Test your installation by clicking File > New > Project

  There should be an option to create an android project. We'll do this in the very next section, right after we've all had a cup of tea...