%h1 Table Layouts are OK

:markdown

  If you're an HTML person like me, you might be put off using a table layout. However, for a lot of cases they actually work rather well.

  Table layouts contain table rows, into which you can place elements. You can use weights to stretch the elements and make them fit.

  ## Exercise

  Attempt the following table layout:

%img{ :src => "/img/part_3/table_layout/test_1.png" }