@import "includes";
@import "popgrid/popgrid";
body {
  background-color: #fff;
  color: #444;
  @include sans;
  font-size: $font_size;
  line-height: $line_height;
  padding-top:100px;
}

@include popgrid_typography;

a {
  color:#922;
}

article {
  margin:100px auto;
  width:600px;
}
article pre {
  overflow:auto;
}

#notice {
  color: green;
}
