@import "includes";

form {
  // margin: 0 0 @padding 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $padding;
  font-size: $font_size * 1.5;
  line-height: $line_height * 2;
  color: $dark_grey;
  border: 0;
  border-bottom: 1px solid #e5e5e5;

}

// Set font for forms
label,
input,
button,
select,
textarea {
  @include sans;
  font-size: $font_size;
}

// Identify controls by their labels
label {
  display: block;
  margin-bottom: 5px;
}