@import "includes";

form {
  // margin: 0 0 @padding 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $padding;
  font-size: $font_size * 1.5;
  line-height: $line_height * 2;
  color: $dark_grey;
  border: 0;
  border-bottom: 1px solid #e5e5e5;

}

// Set font for forms
label,
input,
button,
select,
textarea {
  @include sans;
  font-size: $font_size;
}

input {
  border-radius:5px;
  border:1px solid $mid_grey;
  padding:5px;
  box-shadow:inset 0 2px 2px rgba(0,0,0,0.1);
}

.field_with_errors input{
  border:1px solid red;
  box-shadow:inset 0 2px 2px rgba(255,0,0,0.1);
}

// Identify controls by their labels
label {
  display: block;
  margin-bottom: 5px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}