@import 'includes';
@import "popgrid/popgrid";

.map.show {
  article {
    margin:0 auto;
    width:1px;
    position:relative;
  }
}

nav.map {
  text-align:center;
  h2 {
    font-size:$font_size;
  }
  ul,li {
    margin:0;
    padding:0;
    list-style:none;
  }
  section {
    position:absolute;
    li {
      position:absolute;
    }
  }
  a {
    text-align:left;
    text-decoration:none;
    span {
      position:absolute;
      font-size: 0.75em;
      width:20em;
      top:-10px;
      left: 20px;
      color:$mid_grey;
    }
  }
}