@import 'includes';
@import "popgrid/popgrid";

.splash {
  h1 {
    text-align:center;
  }
  figure {
    @include span(4);
    margin:0 auto;
  }
  p.join {
    padding-top:50px;

    a.button {
      @include span(6);
      margin:0 auto;
    }
  }
}