%h1 Lets get to work

:markdown
  Alright then, we have out tools, now let's get to work! We're going to start by creating an adventurers toolkit. This will come in handy when you crash your light aircraft into the Peruvian jungle.

  We'll be able to view a map of Peru, and we'll be able to activate a torch.

  This exercise is intended to be completed in order as each section will build on the last.

  The first thing to do is to create a project. Then we'll fire up the simulator and take a look.

  ## Purpose of this exercise

  This isn't just fun and games. This exercise will teach us:

  1. How to make a project and deploy it on the simulator and a device.
  2. The 4 different types of thing that Android apps are made of.
  3. How the parts of an app talk to each other.
  3. How to make a User Interface.
  4. How to talk to the hardware.