%h1 Well done Adventurer!

:markdown

  What have you learned?

  Well, if you followed the tutorial, you should now be familiar with the basics you need to write your own Android application. There's still lots to do, but hopefully it all now feels rather manageable.

  Here's where you've been brave explorer:

  1. You've Downloaded and installed all your tools.
  2. You've created a project and run it in the emulator and on a device.
  3. You've created a simple user interface.
  4. You've hooked up a button and made it work.
  5. You've created an intent and opened an activity from another application.
  6. You've created a torch Activity.
  7. You've spoken with the Camera API.

  Don't get cocky though, there's still lots to do...