
%article.container
  = render :partial => "content/#{@course.path}/#{@section.path}/#{@exercise.partial}"


  -@exercise.prev_links.each do |link|
    %nav{ :class => "prev" }
      =link_to(exercise_path(link.next_exercise.section.slug, link.next_exercise.slug)) do
        =link.title
        %i{ :class => "icon-circle-arrow-up" }

  -@exercise.next_links.each do |link|
    %nav{ :class => "next" }
      =link_to(exercise_path(link.next_exercise.section.slug, link.next_exercise.slug)) do
        =link.title
        %i{ :class => "icon-circle-arrow-down" }




=render :partial => "layouts/map"