%h1 All about Audio APIs

:markdown

  Android provides three audio APIs for different situations

  ## MediaPlayer - fully featured heavyweight contender

  Media player does it all. You can play audio and video files of any length, and stream from the web. Fastforward, pause, rewind. Big and slow with occasional latency.

  Use for - MP3 and video players.



  ## SoundPool - lightweight for games

  Soundpool allows you to define a set of sound files which can be preloaded and popped out over and over. Small. Zero latency.

  Use for - Games and soundboards.



  ## AudioTrack - low level hardware access

  Audiotrack gives you direct access to a stream onto which you can push raw audio data as byte arrays. Full control.

  Use for - audio manipulation apps.