%header
  =link_to root_path, class: "logo" do
    Android for Adventurers
  %nav.button_block
    %ul
      -if signed_in?
        -if admin_user?
          %li
            =link_to "Admin", rails_admin_path, :class => "button"
        %li
          =link_to "Sign out", logout_path, :class => "button"
      -else
        %li
          =link_to "Learn Android", signup_path, :class => "button"
        %li
          =link_to "Sign in", login_path, :class => "button"